apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "rucio-consistency.fullname" . }}
  labels:
    {{- include "rucio-consistency.labels" . | nindent 4 }}
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "rucio-consistency.selectorLabels" . | nindent 6 }}
  minReadySeconds: 5
  progressDeadlineSeconds: 600
  revisionHistoryLimit: 10
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      annotations:
        checksum/jobberConfig: {{ include (print $.Template.BasePath "/jobber-configmap.yaml") . | sha256sum }}
        checksum/consistencyConfig: {{ include (print $.Template.BasePath "/consistency-configmap.yaml") . | sha256sum }}
    {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "rucio-consistency.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
{{- if .Values.consistency.useJobber}}
            - name: RUCIO_USING_JOBBER
              value: "1"
{{- end }}
{{- if .Values.consistency.useCron}}
            - name: RUCIO_USING_CRON
              value: "1"
{{- end }}
            - name: RUCIO_CFG_COMMON_LOGLEVEL
              value: {{ .Values.consistency.logLevel }}
            - name: RUCIO_CFG_DATABASE_DEFAULT
              valueFrom:
                secretKeyRef:
                  name: "rucio-secrets"
                  key: db_ro_string
            - name: RUCIO_CFG_DATABASE_SCHEMA
              value: {{ .Values.consistency.schema }}
            - name: PROMETHEUS_SERVERS
              value: {{ .Values.consistency.prometheus_servers }}
            - name: PROMETHEUS_PREFIX
              value: {{ .Values.consistency.prometheus_prefix }}
            - name: PROMETHEUS_LABELS
              value: {{ .Values.consistency.prometheus_labels }}
            - name: RUCIO_HOST
              value: {{ .Values.consistency.rucio_host }}
            - name: AUTH_HOST
              value: {{ .Values.consistency.auth_host }}
            - name: AUTH_TYPE
              value: {{ .Values.consistency.auth_type }}
            - name: CA_CERT
              value: {{ .Values.consistency.ca_cert }}
            - name: REQUEST_RETRIES
              value: {{ .Values.consistency.request_retries | quote }}                                                                                             
          command: ["/consistency/run.sh"]
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          #        readinesProbe:
          #          exec:
          #            command:
          #              - /sync-live-check.sh
          #          initialDelaySeconds: 5
          #          periodSeconds: 15
          #        livenessProbe:
          #          exec:
          #            command:
          #              - /sync-live-check.sh
          #          initialDelaySeconds: 60
          #          periodSeconds: 60
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
{{- if .Values.consistency.useCron}}
            - mountPath: /etc/cron.rucio/
              name: crontab
{{- end }}
            - mountPath: /config/
              name: consistency-config
            - mountPath: /unmerged-config/
              name: unmerged-config
            - mountPath: /etc/jobber-config/
              name: jobber-config
            - mountPath: /opt/proxy
              name: proxy-volume
            - mountPath: /var/cache/consistency-dump
              name: consistency-dump
            - mountPath: /var/cache/consistency-temp
              name: csi-data-cinderplugin
          {{- range $key, $val := .Values.persistentVolumes }}
            - name: {{ $key }}
              mountPath: {{ $val.mountPath }}
          {{- end }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: csi-data-cinderplugin
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-scratch-pvc
          readOnly: false
      - name: consistency-dump
        persistentVolumeClaim:
            claimName: {{ .Release.Name }}-report-pvc
      - name: proxy-volume
        secret:
          defaultMode: 420
          secretName: server-rucio-x509up
{{- if .Values.consistency.useCron}}
        - configMap:
            defaultMode: 0644
            name: {{ include "rucio-consistency.fullname" . }}-crontab
          name: crontab
{{- end }}
# FIXME: Also value for use jobber when it's working
      - name: jobber-config
        configMap:
          defaultMode: 0644
          name: {{ include "rucio-consistency.fullname" . }}-jobber-config
      - name: consistency-config
        configMap:
          defaultMode: 0644
          name: {{ include "rucio-consistency.fullname" . }}-consistency-config
      - name: unmerged-config
        configMap:
          defaultMode: 0644
          name: {{ include "rucio-consistency.fullname" . }}-unmerged-config
      {{- range $key, $val := .Values.persistentVolumes }}
      - name: {{ $key }}
        persistentVolumeClaim:
          claimName: {{ $val.name }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
